<!DOCTYPE html>
<html lang="et">
	<head>
		<meta charset="utf-8">
	<title>Kristi Markus</title>
	<link rel="stylesheet" href="../css.css">
	</head>
<body>
	<img src="/images/vp_banner_2025_TA.jpg" alt="veebiprogrammeerimise 2025 aasta kursuse banner!" class="banner">
	<div class="train">
        <div class="engine">
            <div class="wheel left"></div>
            <div class="wheel right"></div>
        </div>
        <div class="carriage">
            <div class="wheel left"></div>
            <div class="wheel right"></div>
        </div>
        <div class="carriage">
            <div class="wheel left"></div>
            <div class="wheel right"></div>
        </div>
	</div>
	<hr>
	<div class="container">
		<h1>Kristi Markus, veebiprogrammeerimine</h1>
		<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali!</p>
    </div>
	<hr>
	<ul class="menu">
		<li><a href="/">Avaleht</a></li>
        <li><a href="/ajainfo">Ajainfo</a></li>
		<li><a href="/vanasonad">Vanasõnad</a></li>
		<li><a href="/kulastused">Külastajad</a></li>
        <li><a href="/eestifilm">Eesti film</a></li>
	</ul>
	<hr>
	<h2>Eesti filmi seoste lisamine</h2>
    <ul>
        <li><a href="/eestifilm/seosed">Tagasi</a></li>
    </ul>
	<form method="POST">

        <p>Staatus: <%= notice %></p>

		<label for="position_idInput">Amet</label>
        <select id="position_idInput" name="position_idInput" required>
            <option selected disabled>Vali amet</option>
            <% positions.forEach(function(pos) { %>
                <option value="<%= pos.id %>"><%= pos.position_name %></option>
            <% }); %>
        </select>
        <br>
	
        <label for="roleInput">Roll</label>
        <input id="roleInput" name="roleInput" type="text" placeholder="Sisesta roll">
        <br>

        <label for="person_idInput">Isik</label>
        <select id="person_idInput" name="person_idInput" required>
            <option selected disabled>Vali isik</option>
            <% persons.forEach(function(per) { %>
                <option value="<%= per.id %>"><%= per.first_name %> <%= per.last_name %></option>
            <% }); %>
        </select>
        <br>

        <label for="movie_idInput">Film</label>
        <select id="movie_idInput" name="movie_idInput" required>
            <option selected disabled>Vali film</option>
            <% movies.forEach(function(mov) { %>
                <option value="<%= mov.id %>"><%= mov.title %></option>
            <% }); %>
        </select>
        <br>

        <input type="submit" value="Salvesta">

	</form>
</body>
</html>
