<!DOCTYPE html> 
<html lang="et"> 
<head>
	<meta charset="utf-8">
	<title>Kristi Markus</title>
	<link rel="stylesheet" href="../css.css">
</head>
<body>
	<img src="/images/vp_banner_2025_TA.jpg" alt="veebiprogrammeerimise 2025 aasta kursuse banner!" class="banner">
	<div class="train">
        <div class="engine">
            <div class="wheel left"></div>
            <div class="wheel right"></div>
        </div>
        <div class="carriage">
            <div class="wheel left"></div>
            <div class="wheel right"></div>
        </div>
        <div class="carriage">
            <div class="wheel left"></div>
            <div class="wheel right"></div>
        </div>
	</div>
	<hr>
	<div class="container">
		<h1>Kristi Markus, veebiprogrammeerimine</h1>
		<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali!</p>
    </div>
		<hr>
		<ul class="menu">
			<li><a href="/">Avaleht</a></li>
            <li><a href="/ajainfo">Ajainfo</a></li>
			<li><a href="/vanasonad">Vanasõnad</a></li>
			<li><a href="/kulastused">Külastajad</a></li>
            <li><a href="/eestifilm">Eesti film</a></li>
		</ul>
		<hr>
	</div>
    <h2>Eesti filmi seoste nimekiri</h2>
    <ul>
        <li><a href="/eestifilm">Tagasi</a></li>
    </ul>
    <ul>
        <li><a href="/eestifilm/seosed_add">Eesti filmi seoste lisamine</a></li>
    </ul>
    <!-- <ol>
        <% person_in_movieList.forEach(function(listItem) { %>
                <li>
                    <strong><%= listItem.first_name %> <%= listItem.last_name %></strong>
                    <%= listItem.position_name %> filmis
                    <em><%= listItem.title %></em>
                    <% if (listItem.role) { %>
                        (roll: <%= listItem.role %>)
                    <% } %>
                </li>       
            <% }); %>
    </ol> -->
   <%
  // Rühmitame inimesed kokku
  const grouped = {};
  person_in_movieList.forEach(item => {
    const key = `${item.first_name} ${item.last_name}`;
    if (!grouped[key]) grouped[key] = [];
    grouped[key].push(item);
  });
%>

<ol>
  <% Object.keys(grouped).forEach(person => { %>
    <li>
      <strong><%= person %></strong><br>
      <% grouped[person].forEach(movie => { %>
        – <%= movie.position_name.toLowerCase() %> filmis <em><%= movie.title %></em>
        <% if (movie.role) { %> (roll: <%= movie.role %>) <% } %><br>
      <% }); %>
    </li>
  <% }); %>
</ol>


</body>
</html>